<section>    
    <h1>Passo 4 - Acompanhamento</h1>
    <div>
        Neste momento o treinador tem como primordial objetivo 
        acompanhar o trabalho do treinado, também se recomenda que ele realize essa tarefa em uma 
        escala, porém em nível retrogressivo. De inicio permanecer em um acompanhamento 
        continuo, e aos poucos diminuindo os graus de supervisão até que se tenha a certeza que o 
        treinado absorveu todo o conteúdo e que sozinho irá conseguir desempenhar as tarefas, isso 
        pode ser constatado por meio de debates e no meio propicio a realizar perguntas. 

    </div>    
    <div>
        <input type="checkbox" id="aprendiz" name="aprendiz" value="X">
        <label for="aprendiz">Eu, treinado concordo que cumpri todos os requisitos citados acima</label><br>
    </div>
    <div>
        <input type="checkbox" id="mestre" name="mestre" value="X">
        <label for="mestre">Eu, treinador concordo que cumpri todos os requisitos citados acima.</label><br>
    </div>    
    <div>
        <button>SALVAR</button>
    </div>
</section>