h1 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 800;
    font-size: 28px;
    color:#1b1744;
    position: absolute; 
    top: 12%;
    left: 46%;
    width: max-content;
  }

img {
    background-color: #1b1744;
    position: absolute;
    top: 2%;
    left: 35%;
    width: 10%;
    
}

table {
  width: 180px;
}

td, th {
  border: 1pt solid black;
  padding: 0.5rem;
}

.treinado{
  height: 30px;
  width: 30px;
  background-color: #9ecfc9;
  color:#fff;
  text-transform: uppercase;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 9pt;
  font-family: 'Ubuntu', sans-serif;
  cursor:pointer;
}


.processo {
  font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 26px;
    color: #fed151;
    margin: 0px;
    
}

.tituloAprendiz{
  font-family: 'Ubuntu', sans-serif;
  font-size: 15px;
  min-width: 85px;
  text-align: center;
  color: #1b1744; 
  font-weight: bolder;
}

.tituloTreinador {
  font-family: 'Ubuntu', sans-serif;
  font-size: 15px;
  min-width: 85px;
  text-align: center;
  color: #1b1744; 
  font-weight: bolder;
}

.tituloStatus {
  font-family: 'Ubuntu', sans-serif;
  font-size: 15px;
  min-width: 100px;
  text-align:center;
  color: #1b1744; 
  font-weight: bolder;
}

.tituloData{
  font-family: 'Ubuntu', sans-serif;
  font-size: 15px;
  min-width: 150px;
  text-align:end;
  color: #1b1744; 
  font-weight: bolder;
}

.etapas{
  border-left:4px solid #9ecfc9;
  color: #4c4c4c;
  font-size: 10pt;
  font-weight: bold;
  font-family: 'Noto Sans', sans-serif;
}