h1 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 800;
    font-size: 28px;
    color:#1b1744;
    position: absolute; 
    top: 12%;
    left: 46%;
    width: max-content;
  }

img {
    background-color: #1b1744;
    position: absolute;
    top: 2%;
    left: 35%;
    width: 10%;
    
}

table {
  width: 180px;
}

td, th {
  border: 1pt solid black;
  padding: 0.5rem;
}

.treinado{
  height: 20px;
  width: 20px;
  background-color: #1366ff;
  color:#fff;
  text-transform: uppercase;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 9pt;
  font-family: 'Roboto', sans-serif;
  cursor:pointer;
}