<app-fundo-tela-botoes>
</app-fundo-tela-botoes>
<h1>{{titulo}}</h1>
<img src="{{icone}}" alt="icone">
<form class="content" #f="ngForm" (ngSubmit)="criarAprendizagem()" >
  <div>
    <label for="">Processo</label>
    <select 
    [(ngModel)]="aprendizagem.processo" required id="processo" #processo="ngModel"
            name="processo">
      <option value=""></option>
      
    </select>
    <label for="">Etapa</label>
    <select 
    [(ngModel)]="aprendizagem.etapa" required id="etapa" #etapa="ngModel"
    name="etapa">
      <option value=""></option>
      
    </select>
    <label for="">ID Treinador</label>
    <input type="text" required 
    [(ngModel)]="aprendizagem.treinador" required id="treinador" #treinador="ngModel"
    name="treinador"
      >
    <label for="">ID Treinado</label>
    <input type="email" required 
    [(ngModel)]="aprendizagem.treinado" required id="treinado" #treinado="ngModel"
    name="treinado"
      >
    <button type="submit" class="btn btn-outline-dark" id="novo" title="Criar">
      <span id="icone" class="material-icons">
        add
      </span>
      Criar
    </button>
  </div>
</form>
<div>
  <input type="text" class="inputFilter">
  <i class="material-icons iconeFilter">filter_alt</i>
  <i class="material-icons iconeSort">sort</i>
</div>
<div class="tabela" id="Usuario">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Processo</th>
        <th scope="col">Etapa</th>
        <th scope="col">Treinador</th>
        <th scope="col">Treinado</th>
        <th scope="col">Passo</th>
        <th scope="col">Status</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let aprendizagem of listaAprendizagem">
        <th scope="row">{{aprendizagem.id }}</th>
        <td>{{aprendizagem.processo }}</td>
        <td>{{aprendizagem.etapa }}</td>
        <td>{{aprendizagem.treinadorNome }}</td>
        <td>{{aprendizagem.treinadoNome }}</td>
        <td>{{aprendizagem.etapaIndiceNome }}</td>
        <td>{{aprendizagem.status }}</td>
        <td><span class="float-right">
            <button class="btn btn-outline-warning mb-1 btn-sm" (click)="editarAprendiazagem(aprendizagem)">Editar</button>
          </span></td>
      </tr>
    </tbody>
  </table>
</div>