<app-fundo-tela-botoes>
</app-fundo-tela-botoes>
<h1>{{titulo}}</h1>
<img src="{{icone}}" alt="icone">

<section id="errosCabecalho">
  <div class="erro" *ngIf="!processo.valid && processo.touched">
    Processo é obrigatório
  </div>
  <div class="erro" *ngIf="!etapa.valid && etapa.touched">
    Etapa é obrigatório
  </div>
  <div class="erro" *ngIf="!treinador.valid && treinador.touched">
    ID Treinador é obrigatório
  </div>
  <div class="erro" *ngIf="!treinado.valid && treinado.touched">
    ID Treinado é obrigatório
  </div>
  <div [ngClass]="(messageType == 'success')?'success':'error'">
    {{message}}
  </div>
</section>

<form class="content" #f="ngForm" (ngSubmit)="criarAprendizagem()" >
  <div>
    <label for="">Processo</label>
    <select 
    [(ngModel)]="aprendizagem.processo" required id="processo" #processo="ngModel"
            name="processo" > 
      <option value=""></option>
      
    </select>
    <label for="">Etapa</label>
    <select 
    [(ngModel)]="aprendizagem.etapa" required id="etapa" #etapa="ngModel"
    name="etapa">
      <option value=""></option>
      
    </select>
    <label for="">ID Treinador</label>
    <input type="text" required 
    [(ngModel)]="aprendizagem.treinador" required id="treinador" #treinador="ngModel"
    name="treinador"
      >
    <label for="">ID Treinado</label>
    <input type="email" required 
    [(ngModel)]="aprendizagem.treinado" required id="treinado" #treinado="ngModel"
    name="treinado"
      >
    <button type="submit" class="btn btn-outline-dark" [disabled]="f.invalid" id="novo" title="Criar">
      <span id="icone" class="material-icons">
        add
      </span>
      Criar
    </button>
  </div>
</form>
<div>
  <input type="text" id="myInput" (keyup)="myFunction()" placeholder="Pesquisar etapa" class="inputFilter">
  <i class="material-icons iconeFilter">filter_alt</i>
  <!--<i class="material-icons iconeSort" (click)="sortTable()">sort</i>-->
</div>
<div class="tabela" id="myTable">
  <table class="table table-hover header">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Processo</th>
        <th scope="col">Etapa</th>
        <th scope="col">Treinador</th>
        <th scope="col">Treinado</th>
        <th scope="col">Passo</th>
        <th scope="col">Status</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let aprendizagem of listaAprendizagem">
        <th scope="row">{{aprendizagem.id }}</th>
        <td>{{aprendizagem.processo }}</td>
        <td>{{aprendizagem.etapa }}</td>
        <td>{{aprendizagem.treinadorNome }}</td>
        <td>{{aprendizagem.treinadoNome }}</td>
        <td>{{aprendizagem.etapaIndiceNome }}</td>
        <td>{{aprendizagem.status }}</td>
        <td><span class="float-right">
            <button class="btn btn-outline-warning mb-1 btn-sm" (click)="editarAprendiazagem(aprendizagem)">Editar</button>
          </span></td>
      </tr>
    </tbody>
  </table>
</div>
