<section id="main_content">
    <h1>Seja bem vindo {{nomeUsuario}} !</h1>
    <div class="content">
        <div>
            <img src="../../../assets/imgs/baseConhecimento.JPG" alt="baseConhecimento" id="baseConhecimento" routerLink="/baseConhecimento"> 
            <label for="baseConhecimento" >
                <span id="baseConhecimentoTitulo">Base Conhecimento</span><br>
                <span id="baseConhecimentoDescricao">Criar, editar e visualizar a base de
                    conhecimento</span>
            </label>
        </div>

        <div>
            <img src="../../../assets/imgs/aprendizagem.JPG" alt="aprendizagem" id="aprendizagem" routerLink="/aprendizagem">
            <label for="aprendizagem">
                <span id="aprendizagemTitulo">Aprendizagem</span><br>
                <span id="aprendizagemDescricao">Criar, editar e visualizar processos de conhecimento</span>
            </label>
        </div>

        <div>
            <img src="../../../assets/imgs/monitor.JPG" alt="monitor" id="monitor" routerLink="/monitor">
            <label for="monitor">
                <span id="monitorTitulo">Monitor</span><br>
                <span id="monitorDescricao">Acompanhe as atividades</span>
            </label>
        </div>                    
    </div>
    <button class="exit" type="button" routerLink="/login">SAIR</button>
    <button class="material-icons" type="button" routerLink="/userConfig">manage_accounts</button>
</section>

