* {
    margin: 0;
    padding: 0;
  }
  
  section {
    display: table;
    width: 100%;
  }

  .height-100 {
    background-image: url(../../../assets/imgs/welcome.JPG);
    height: 100vh;
  }

 button {
    display: inline-flex;
  	align-items: center;
  	justify-content: center;
  	padding: 0.7rem 4rem;
  	font-family: "Poppins", sans-serif;
	font-weight: 700;
	font-size: 35px;
	text-align: center;
	text-decoration: none;
	color: #1b1744;
	background-color: #fdd24f;
	backface-visibility: hidden;
	border: 0.3rem solid transparent;
	border-radius: 3rem;
	
	border-color: #1b1744;
	transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
	
	position: absolute; 
	left: 190px; 
	top: 510px; 
 }

 button:hover{
	transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0) !important;
  }
 