@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
  }
  
  section {
    background-image: url(../../../assets/imgs/welcome.JPG);
	background-attachment: scroll;
	display: block;    
    height: 100vh;
  	background-repeat: no-repeat;	
	background-size: cover;
  }

  #learn, #how {
	  font-family: 'Spartan', sans-serif;
	  font-weight: 800;
	  font-size: 80px;
	  color: white;
	  position: relative; 
	  top: 150px;
	  left: 100px;
	  text-shadow: 6px 6px 1px rgba(253, 210, 79, 1);
	  width: max-content;	
	    
  }

 
  .descricao {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 500;
	font-size: 25px;
	color: whitesmoke;
	position: relative; 
	top: 150px;
	left: 105px;
	width: max-content;
			  
  }
 
 button {
    display: inline-flex;
  	align-items: center;
  	justify-content: center;
  	padding: 3px 75px;
  	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 55px;
	text-align: center;
	text-decoration: none;
	color: #1b1744;
	background-color: #fdd24f;
	backface-visibility: hidden;
	border: 5px solid transparent;
	border-radius: 40px;
	box-shadow: 6px 6px 0px 5px rgba(253, 210, 79, 1);
	
	border-color: #1b1744;
	transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
	
	position: absolute; 
	left: 220px; 
	top: 510px; 
 }

 button:hover{
	transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0) !important;
  }
 