<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    <section id="main_content">
        <div class="content">
            <p id="learn">LEARN</p>
            <p id="how">HOW</p>
            <div id="descricao" class="descricao">
                <p>Tenha o controle sobre o   </p>
                <p>conhecimento que agrega valor.</p>
                <p>Gerencie, colabore e desenvolva</p>
                <p>novas habilidades.</p>
            </div>            
           <button routerLink="login" >START</button>            
        </div>
      </section>
</body>
</html>
