<section>    
    <h1>Passo 2 - Introdução às operações</h1>
    <div>
        Ainda sem nenhum desenvolvimento prático, este momento tem como objetivo de preparar o treinado para suas tarefas. Deve-se apresentar a descrição documentada dos procedimentos que ele irá desenvolver na organização, é vantajoso o treinador repassar e debater todos os passos do documento, assim assegurando que o treinado não tenha duvida ou conceitos errôneos do que foi apresentado. Posteriormente o treinador irá realizar o trabalho, apresentando todas as operações descritas no documento que relata os procedimentos, é imprescindível que o ensinado tenha uma boa visão da pratica exercida pelo seu treinador. É de responsabilidade do treinador avaliar se todas as etapas foram intendidas corretamente e distinguir há necessidade de repetir a atividade. E de fundamental importância que todos os pontos relatados no documento que descreve o procedimento seja explanado e justificado, sem desconsiderar nenhum tópico
    </div>    
    <div>
        <input type="checkbox" id="saveAprendizCheckBox" name="saveAprendizCheckBox" #saveAprendizCheckBox
        [checked]="saveAprendiz" 
        (change)="onSaveAprendizChanged(saveAprendizCheckBox.checked)"
        >
        <label for="aprendiz">Eu, treinado concordo que cumpri todos os requisitos citados acima.</label><br>
    </div>
    <div>
        <input type="checkbox" id="saveMestreCheckBox" name="saveMestreCheckBox" #saveMestreCheckBox
        [checked]="saveMestre" 
        (change)="onSaveMestreChanged(saveMestreCheckBox.checked)"
     >
        <label for="mestre">Eu, treinador concordo que cumpri todos os requisitos citados acima. </label><br>
    </div>    
    <div>
        <button (click)="salvar()"
        >SALVAR</button>
    </div>
</section>
