<app-fundo-tela-botoes>   
</app-fundo-tela-botoes>
<h1>{{titulo}}</h1>
<img src="{{icone}}" alt="icone">
<section id="identificacao">
    
            <label id="ProcessoLabel "for="ProcessoInput"> Processo: </label>
            <input id="ProcessoSmall"
            [(ngModel)]="aprendizagem.processo" id="processo" #processo="ngModel" name="processo"
            >

            <label id="ProcessoLabel "for="ProcessoInput"> Etapa: </label>
            <input id="ProcessoSmall"
            [(ngModel)]="aprendizagem.etapa" id="etapa" #etapa="ngModel" name="etapa"
            > 

            <label id="MestreLabel" for="MestreInput"> Treinador: </label>
            <input id="MestreSmall"
            [(ngModel)]="aprendizagem.treinador" id="treinador" #treinador="ngModel" name="treinador"
            >    

            <label id="AprendizLabel"for="AprendizInput"> Treinado: </label>
            <input
            [(ngModel)]="aprendizagem.treinado" id="treinado" #treinado="ngModel" name="treinado"
            >  

            <label id="statusLabel"for="status"> Status </label>
            <select id="status" [(ngModel)]="aprendizagem.status" #status="ngModel" name="status">
                <option style="background: #5cb85c; color: #fff;" value="Executando">Executando</option>                
                <option value="Completo">Completo</option>
                <option value="Parado">Parado</option>
                <option value="Cancelado">Cancelado</option>
            </select > 
                
</section>
<section id="botoes">    
    <small id="btn"><button (click)= etapa1()>1</button></small>
    <small id="btn"><button (click)= etapa2()>2</button></small>
    <small id="btn"><button (click)= etapa3()>3</button></small>
    <small id="btn"><button (click)= etapa4()>4</button></small>
</section>
<section id="etapas">
    <app-etapa1 *ngIf="etapaComponente == 1" ></app-etapa1>
    <app-etapa2 *ngIf="etapaComponente == 2"></app-etapa2>
    <app-etapa3 *ngIf="etapaComponente == 3"></app-etapa3>
    <app-etapa4 *ngIf="etapaComponente == 4"></app-etapa4>
</section>
<button class="material-icons voltar" title="Voltar" type="button" routerLink="/menu_aprendizagem">arrow_back</button>