<section>    
    <h1>Passo 3 - Analise do desempenho</h1>
    <div>
        É o primeiro contato que o treinado terá com a pratica, ele 
        irá exercer a função em uma escala de desenvolvimento. Essa escala se define em: realizar o 
        trabalho com o treinando, deixar que ele realize o trabalho sem o auxilio do treinador e o 
        corrigir quando errado, após o treinado realizar o trabalho sem falhas solicitar que explique 
        cada elemento e passo principal de suas atividades enquanto a executa. Caso durante essa 
        ultima etapa o treinado cometa erros, notifica-lo para que sem auxilio ele corrija, o avanço de 
        cada etapa da escala fica a critério do treinador em reconhecer a necessidade de manter ou 
        prosseguir.
    </div>    
    <div>
        <input type="checkbox" id="aprendiz" name="aprendiz" value="X">
        <label for="aprendiz">Eu, treinado concordo que cumpri todos os requisitos citados acima</label><br>
    </div>
    <div>
        <input type="checkbox" id="mestre" name="mestre" value="X">
        <label for="mestre">Eu, treinador concordo que cumpri todos os requisitos citados acima.</label><br>
    </div>    
    <div>
        <button>SALVAR</button>
    </div>
</section>