<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <section class="height-100">
        <div class="content">
            <strong><label id="labelEmail" for="email">EMAIL</label></strong>
            <input type="email" name="email" id="email">
            <br>
            <strong><label id="labelSenha" for="senha">SENHA</label></strong>
            <input type="password" name="senha" id="senha">
                   
        </div>
      </section>
</body>
</html>