* {
    margin: 0;
    padding: 0;
  }
  
  section {
    display: table;
    width: 100%;
  }

  .height-100 {
    background-image: url(../../../assets/imgs/login.JPG);
    height: 100vh;
  }

  #labelEmail {
    position: absolute;
    left: 110px; 
	top: 415px; 
    font-family: Arial, sans-serif;
    font-size: 22px;
    color: white;
  }

  #email {

    border:2px #fed151 solid;
    background-color: #9ecfc9;
    color: white;
    position: absolute;
    left: 190px; 
	top: 410px;
    border-radius: 20px / 35px;
    font-family: Arial, sans-serif;
    font-size: 24px;
    height: 40px;
    width: 400px;
    padding-left: 10px;
    outline: none;    
        
  }

   #labelSenha {
    position: absolute;
    left: 110px; 
	top: 475px;
    font-family: Arial, sans-serif;
    font-size: 20px;
    color: white;
    
  }

  #senha {
    
    border:2px #fed151 solid;
    background-color: #9ecfc9;
    color: white;
    position: absolute;
    left: 190px; 
	top: 460px;
    border-radius: 20px / 35px;
    font-family: Arial, sans-serif;
    font-size: 24px;
    height: 40px;
    width: 400px;
    padding-left: 10px;
    outline: none; 
    
    
  }