<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <section class="height-100">
        <div class="content">
            <button routerLink="/cadastrar" class="cadastrar">Cadastrar-se</button>
            <label id="labelEmail" for="email">EMAIL</label>
            <input type="email" name="email" id="email">
            <br>
            <label id="labelSenha" for="senha">SENHA</label>
            <input type="password" name="senha" id="senha">
            <a id="esqueciSenha" routerLink="/esqueciSenha">Esqueci minha senha</a>
            <button class="start" type="submit" (click)="fazerLogin()">START</button>
                   
        </div>
      </section>
</body>
</html>