.main_content {
  background-image: url(../../../assets/imgs/welcome.JPG);
  display: flex;    
  flex-direction: column;
  height: 100vh;
  background-repeat: no-repeat;	
  background-size: cover;
}
.container{
  padding-top: 125px;
  height:100vh;
}

.title span{
  text-shadow: 6px 6px 1px #425261;
}

#labelEmail {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  font-size: 22px;
  color: white;
}
.campo{
  width: 100px;
  display: flex;
  flex-direction: row;
  margin-bottom:16px;
}
.campo label{
  width:100px;  
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  font-size: 22px;
  color: white;
  line-height: 40px;
}
.campo input{
  width: 100%;
  padding-left: 16px;

  border:2px #fed151 solid;
  background: transparent;
  color: white;
  border-radius: 10px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  height: 40px;
  padding-left: 10px;
  outline: none; 
}

#labelSenha {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: white;
}

#erroSenha, #erroEmail{
  font-family: 'Ubuntu', sans-serif;
  font-size: 15px;
  color: red;
}

.start {
  display: inline-flex;
  	align-items: center;
  	justify-content: center;
  	padding: 3px 75px;
  	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 34px;
	text-align: center;
	text-decoration: none;
	color: #1b1744;
	background-color: #fdd24f;
	backface-visibility: hidden;
	border: 5px solid transparent;
	border-radius: 40px;
	box-shadow: 6px 6px 0px 5px rgba(253, 210, 79, 1);
	border-color: #1b1744;
	transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
  margin-top:16px;
}

button:hover{
transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0) !important;
}

.cadastrar {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 5px 25px;
  font-family: 'Dancing Script', cursive;
  font-weight: 600;
  font-size: 62px;
  text-align: center;
  text-decoration: none;
  color: #1b1744;
  background-color: #fdd24f;
  backface-visibility: hidden;
  border: 3px solid transparent;
  border-radius: 40px;
  box-shadow: 6px 6px 0px 1px rgba(253, 210, 79, 1);
  border-color: #1b1744;
  transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
  position: absolute; 
}
  
#esqueciSenha {
  color: white;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
}

.ng-invalid.ng-touched:not(form) {
  border: 3px solid red

}

button:disabled,
    button[disabled]{
      color: #1b1744;
      background-color: #cccccc;
      backface-visibility: hidden;
      border: 3px solid transparent;
      border-radius: 40px;
      box-shadow: 6px 6px 0px 1px #999999;
      cursor: not-allowed;
      border-color: #1b1744;
      transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
}
  
  