<app-fundo-tela-botoes>
</app-fundo-tela-botoes>
<h1>{{titulo}}</h1>
<img src="{{icone}}" alt="icone">

<form class="content" #f="ngForm" (ngSubmit)="editarBaseConhecimento()">

    <div id="cabecalho" class="form-group">

        <label id="labelProcesso" for="processo">Processo</label>

        <input type="text" [(ngModel)]="baseConhecimento.processo" required placeholder="Digite o nome do processo"
            id="processo" #processo="ngModel" name="processo" readonly>


        <label for="etapa">Etapa</label>

        <input type="text" [(ngModel)]="baseConhecimento.etapa" required placeholder="Digite o nome da etapa" id="etapa"
            #etapa="ngModel" name="etapa" readonly>



        <label for="vigencia">Vigência</label>

        <input type="date" (ngModelChange)= "baseConhecimento.vigencia = $event" [ngModel]="baseConhecimento.vigencia | date:'yyyy-MM-dd'" required id="vigencia"
            #vigencia="ngModel" name="vigencia" [readonly]="isExibir">

    </div>
    <section id="errosCabecalho">
        <div class="erro" *ngIf="!processo.valid && processo.touched">
            Processo é obrigatório
        </div>
        <div class="erro" *ngIf="!etapa.valid && etapa.touched">
            Processo é obrigatório
        </div>
        <div class="erro" *ngIf="!vigencia.valid && vigencia.touched">
            Data de vigência é obrigatório
        </div>
    </section>

    <div>
        <label for="">Objetivo</label>
        <i class="material-icons" title="Informar o objetivo da etapa a ser documentada">info</i><br>

        <div class="erro" *ngIf="!objetivo.valid && objetivo.touched">
            Objetivo é de preenchimento obrigatório
        </div>

        <textarea cols="100" rows="2" [(ngModel)]="baseConhecimento.objetivo" required id="objetivo" #objetivo="ngModel"
            name="objetivo" [readonly]="isExibir"></textarea>
    </div>

    <div>
        <label for="campoAplicacao">Campo de aplicação</label>
        <i class="material-icons" title="Informar as áreas envolvidas em desempenhar esta etapa">info</i><br>

        <div class="erro" *ngIf="!campoAplicacao.valid && campoAplicacao.touched">
            Campo de aplicação é de preenchimento obrigatório
        </div>

        <textarea cols="100" rows="2" [(ngModel)]="baseConhecimento.campoAplicacao" required id="campoAplicacao"
            #campoAplicacao="ngModel" name="campoAplicacao" [readonly]="isExibir"></textarea>
    </div>

    <div>
        <label for="competencia">Competência</label>
        <i class="material-icons"
            title="Informar o cargo e/ou departamento responsável em desempenhar esta etapa">info</i><br>

        <div class="erro" *ngIf="!competencia.valid && competencia.touched">
            Competência é de preenchimento obrigatório
        </div>

        <textarea cols="100" rows="2" [(ngModel)]="baseConhecimento.competencia" required id="competencia"
            #competencia="ngModel" name="competencia" [readonly]="isExibir"></textarea>

    </div>
    <div>
        <label for="treinamento">Treinamento</label>
        <i class="material-icons"
            title="Informar se existe a necessidade de treinamento para exercer essa etapa">info</i><br>

        <select [(ngModel)]="baseConhecimento.treinamento" required id="treinamento" #treinamento="ngModel"
            name="treinamento" *ngIf="isEdit">
            <option value="Sim">Sim</option>
            <option value="Não">Não</option>
        </select>
        <input type="text" [(ngModel)]="baseConhecimento.treinamento" required id="treinamento" #treinamento="ngModel"
        name="treinamento" *ngIf="isExibir">
    </div>

    <div>
        <label for="perfil">Perfil</label>
        <i class="material-icons"
            title="Informar qual seria o perfil de pessoa indicado a realizar essa etapa ">info</i><br>

        <div class="erro" *ngIf="!perfil.valid && perfil.touched">
            Perfil é de preenchimento obrigatório
        </div>

        <textarea cols="100" rows="2" [(ngModel)]="baseConhecimento.perfil" required id="perfil" #perfil="ngModel"
            name="perfil" [readonly]="isExibir"></textarea>
    </div>

    <div>
        <label for="termosTecnicos">Definições de termos técnicos</label>
        <i class="material-icons"
            title="Listar os termos técnicos citados no documento e seus respectivos significados">info</i><br>

        <textarea cols="100" rows="2" [(ngModel)]="baseConhecimento.termosTecnicos" id="termosTecnicos"
            #termosTecnicos="ngModel" name="termosTecnicos" [readonly]="isExibir"></textarea>
    </div>

    <div>
        <label for="orientacao">Orientações</label>
        <i class="material-icons" title="Descrição do cenário em que a etapa deve ser realizada">info</i><br>

        <div class="erro" *ngIf="!orientacao.valid && orientacao.touched">
            Orientações é de preenchimento obrigatório
        </div>

        <textarea cols="100" rows="2" [(ngModel)]="baseConhecimento.orientacao" required id="orientacao"
            #orientacao="ngModel" name="orientacao" [readonly]="isExibir"></textarea>
    </div>

    <div>
        <label for="fluxograma">Fluxograma</label>
        <i class="material-icons"
            title="Utilizando a fluxogramação descreva os passos que contribuíram para a realização desta etapa.">info</i><br>

        <small id="fluxo">ATENÇÃO - utilizar somente documento no modelo padrão</small><br>
        <div class="erro" *ngIf="baseConhecimento.fluxograma == null">
            É obrigatório anexar o fluxograma
        </div>
        <input *ngIf="baseConhecimento.fluxograma == null" type="file" class="anexar" required id="fluxograma" name="fluxograma"
        (change)="onChange($event)"
        >
        <button type="button" *ngIf="baseConhecimento.fluxograma != null" (click)="downloadArquivo()">Baixar Arquivo</button>
    </div>

    <div><br>
        <label for="procedimentos">Procedimentos</label>
        <i class="material-icons"
            title="Descreva as atividades a serem executadas nesta etapa de acordo com o fluxograma">info</i><br>

        <div class="erro" *ngIf="!procedimentos.valid && procedimentos.touched">
            Procedimentos é de preenchimento obrigatório
        </div>

        <textarea cols="100" rows="2" [(ngModel)]="baseConhecimento.procedimentos" required id="procedimentos"
            #procedimentos="ngModel" name="procedimentos" [readonly]="isExibir"></textarea>
    </div>

    <div>
        <label for="tempo">Tempo</label>
        <i class="material-icons" title="Informar o tempo estipulado para que este procedimento seja realizado, em caso de apresentar tarefas criticas informa o período de realização;
        ">info</i><br>

        <div class="erro" *ngIf="!tempo.valid && tempo.touched">
            Tempo é de preenchimento obrigatório
        </div>

        <textarea cols="100" rows="2" [(ngModel)]="baseConhecimento.tempo" required id="tempo" #tempo="ngModel"
            name="tempo" [readonly]="isExibir"></textarea>
    </div>

    <div>
        <label for="indicadores">Indicadores</label>
        <i class="material-icons"
            title="Informar os principais métodos de medir os resultados do processo;">info</i><br>

        <textarea cols="100" rows="2" [(ngModel)]="baseConhecimento.indicadores" id="indicadores" #indicadores="ngModel"
            name="indicadores" [readonly]="isExibir"></textarea>
    </div>

    <div>
        <label for="relatorioGestao">Relatório de gestão</label>
        <i class="material-icons"
            title="Informar as metas estabelecidas para determinado período, as ações realizadas e os resultados alcançados, além de previsões e projeções para os próximos períodos;">info</i><br>

        <textarea cols="100" rows="2" [(ngModel)]="baseConhecimento.relatorioGestao" id="relatorioGestao"
            #relatorioGestao="ngModel" name="relatorioGestao" [readonly]="isExibir"></textarea>
    </div>

    <div>
        <label for="normas">Normas</label>
        <i class="material-icons"
            title="Informar as leis, os princípios, as regras e as especificações técnicas que regem os procedimentos operacionais">info</i><br>

        <textarea cols="100" rows="2" [(ngModel)]="baseConhecimento.normas" id="normas" #normas="ngModel" name="normas"
            [readonly]="isExibir"></textarea>
    </div>

    <div>
        <label for="recursoDuvida">Recursos para dúvidas</label>
        <i class="material-icons"
            title="Informar o contato do funcionário ou especialista que realiza esta etapa">info</i><br>

        <div class="erro" *ngIf="!recursoDuvida.valid && recursoDuvida.touched">
            Recursos para dúvidas é de preenchimento obrigatório
        </div>

        <textarea cols="100" rows="2" [(ngModel)]="baseConhecimento.recursoDuvida" required id="recursoDuvida"
            #recursoDuvida="ngModel" name="recursoDuvida" [readonly]="isExibir"></textarea>
    </div>

    <div>
        <label for="arquivoComplementar">Anexar arquivo complementar</label>
        <i class="material-icons" title="Anexar arquivo complementar a esta etapa">info</i><br>

        <input type="file" class="anexar" [(ngModel)]="baseConhecimento.arquivoComplementar" id="arquivoComplementar"
            #arquivoComplementar="ngModel" name="arquivoComplementar" [readonly]="isExibir"><br>
    </div><br>

    <div>
        <small id="sucesso">{{mensagemSucesso}}</small>
        <small id="erro">{{mensagemError}}</small>
    </div>
    <button *ngIf="isEdit" type="submit" class="salvar">SALVAR</button>
</form>
<button class="material-icons voltar" title="Voltar" type="button"
    routerLink="/menu_base-conhecimento">arrow_back</button>