<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>esqueciSenha</title>
</head>
<body>
    <section id="main_content">
        <h1>RECUPERAR SENHA</h1>
        <div class="content">
            <label id="labelEsqueciSenhaEmail" for="esqueciSenhaEmail">EMAIL</label>
            <input type="email" name="esqueciSenhaEmail" id="esqueciSenhaEmail">
            <button class="enviar" type="submit" (click)="esqueciSenha()">ENVIAR</button>                       
        </div>
        <button class="exit" type="button" routerLink="/login">SAIR</button>
      </section>
</body>
</html>


