@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
  }
  
  section {
    background-image: url(../../../assets/imgs/recuperarSenha.JPG);
    background-attachment: scroll;
	  display: block;    
    height: 100vh;
  	background-repeat: no-repeat;	
	  background-size: cover;
  }

  h1 {
    font-family: 'Spartan', sans-serif;
	  font-weight: 800;
	  font-size: 40px;
	  color:#9ecfc9;
	  position: relative; 
	  top: 110px;
	  left: 460px;
    width: max-content;
  }

 
  label {
    position: absolute;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 22px;
    color: #405163;
    top: 250px;
    left: 450px;
  }

  input {
    border:2px #fed151 solid;
    background: transparent;
    color: #405163;
    position: absolute;
    border-radius: 10px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    height: 40px;
    width: 400px;
    padding-left: 10px;
    outline: none;

    top: 240px;
    left: 530px;
    
  }

  .enviar {
    display: inline-flex;
  	align-items: center;
  	justify-content: center;
  	padding: 3px 75px;
  	font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 35px;
    text-align: center;
    text-decoration: none;
    color: #1b1744;
    background-color: #fdd24f;
    backface-visibility: hidden;
    border: 3px solid transparent;
    border-radius: 40px;
    box-shadow: 6px 6px 0px 1px rgba(253, 210, 79, 1);
	
    border-color: #1b1744;
    transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
	
    
    position: absolute; 
    top: 380px;
    left: 550px;
 }

  button:hover{
	transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0) !important;
  }

  .exit {
    display: inline-flex;
  	align-items: center;
  	justify-content: center;
  	padding: 3px 35px;
  	font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 25px;
    text-align: center;
    text-decoration: none;
    color: #1b1744;
    background-color: #9ecfc9;
    backface-visibility: hidden;
    border: 3px solid transparent;
    border-radius: 40px;
    box-shadow: 6px 6px 0px 1px #1b1744;;
	
    border-color: #1b1744;
    transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
	
    
    position: absolute; 
    right: 25px; 
    top: 20px; 
 }
